.bodyteem .bodyteemh{

    color: white;
    text-align: center;
}

.bodyteem .bodyteemh h1{

    font-size: 2.5rem;
    font-family:  Segoe UI;
    font-weight: 650;
    color: white;
    margin-bottom: 30px;
}


.bodyteem .bodyteemh p{

    font-size: 1.1rem;
    font-family:  Segoe UI;
    margin-top: 7px;
    color: white;
}

.bodyteemhimg{

    display: flex;
    margin-top: 20px;
    justify-content: center;
    column-gap: 30px;
    font-family:  Segoe UI;
    cursor: pointer;
    width: 100%;
/*    background: red;*/
}


.bodyteemhimg .imgo{

    text-align: center;
    color: white;
/*    background: green;*/
    width: 30%;
   justify-items: center;
}

.bodyteemhimg .imgo h3{

    margin-top: 20px;

}

.bodyteemhimg .imgo p{

    margin-top: 10px;


}

.bodyteemhimg .imgo .imghh img{

   width: auto;
   height: fit-content;
   text-align: center;
   margin-top: 0px;
   background: repeating-radial-gradient();
   filter: grayscale(150%);
   transition: transform 0.4s};




}


.bodyteemhimg .imgo .logo{

    margin-top: 20px;
    column-gap: 20px;
    display: flex;
    justify-content: center;
}

.bodyteemhimg .imgo .logo i{

    margin-top: 20px;
    padding: 10px;
    background: black;
    border-radius: 35px;



}

.bodyteemhimg .imgo .imghh{

    
    background: transparent;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
/*    background-color: blue;*/
    justify-content: center;
    width: 90%;
    height:55% ;
    
}



.bodyteemhimg .imgo:hover .imghh img{

   filter: grayscale(0%);
   transform: scale(1.1);

}


.bodyteemhimg .imgo:hover i{

    background: #c12e2f;
}

.bodyteemhimg .imgo:hover  .possiton {

    color: #c12e2f;
}


.bodyteemhimg .imgo{

    transform: scale(0.1); 
    transition: opacity 1s ease, transform 1s ease; 
    transform-origin: bottom;
}


.bodyteemhimg .imgo.animate {
    opacity: 1;
    transform: scale(1); 
}



@media (max-width: 412px) {


        .bodyteem .bodyteemh h1{

            font-size: 1.1rem;
           
        }


        .bodyteem .bodyteemh p{

            font-size: 0.8rem;
            
        }
          


        .bodyteemhimg{


                display: flex;
        /*      background: red;*/
                flex-direction: column;
                margin: auto;
                padding: auto;
                gap: 20px;
            }


        .bodyteemhimg .imgo{

        /*    background: green;*/
            justify-content: center;
            justify-items: center;
            margin: auto;
            width: 100%;
            margin-top: 10px;
            padding: 20px;
            transform: scale(0.1); 
            transition: opacity 1s ease, transform 1s ease; 
            transform-origin: bottom;
        }


        .bodyteemhimg .imgo.animate {
            opacity: 1;
            transform: scale(1); 
        }


        .bodyteemhimg .imgo .imghh{

        /*background: blue;*/

           width: 65%;
           height: 14rem;

        }

        .bodyteemhimg .imgo .imghh img{

           width: fit-content;
           height: auto;
           text-align: center;
           transition: transform 0.4s};

        


        .bodyteemhimg .imgo h3{

            font-size: 0.9rem;

        }

        .bodyteemhimg .imgo p{

            font-size: 0.7rem;

        }

        .bodyteemhimg .imgo .possiton {

            font-size: 0.8;
        }


}



/*iphone xr*/
@media (max-width: 415px) {


        .bodyteem .bodyteemh h1{

            font-size: 1.1rem;
           
        }


        .bodyteem .bodyteemh p{

            font-size: 0.8rem;
            
        }
          


        .bodyteemhimg{


                display: flex;
        /*      background: red;*/
                flex-direction: column;
                margin: auto;
                padding: auto;
                gap: 20px;
            }


        .bodyteemhimg .imgo{

        /*    background: green;*/
            justify-content: center;
            justify-items: center;
            margin: auto;
            width: 100%;
            margin-top: 10px;
            padding: 20px;
            transform: scale(0.1); 
            transition: opacity 1s ease, transform 1s ease; 
            transform-origin: bottom;
        }


        .bodyteemhimg .imgo.animate {
            opacity: 1;
            transform: scale(1); 
        }


        .bodyteemhimg .imgo .imghh{

        /*background: blue;*/

           width: 65%;
           height: 14rem;

        }

        .bodyteemhimg .imgo .imghh img{

           width: fit-content;
           height: auto;
           text-align: center;
           transition: transform 0.4s};

        


        .bodyteemhimg .imgo h3{

            font-size: 0.9rem;

        }

        .bodyteemhimg .imgo p{

            font-size: 0.7rem;

        }

        .bodyteemhimg .imgo .possiton {

            font-size: 0.8;
        }


}


/*iphone 14 pro max*/

@media (max-width: 431px) {


        .bodyteem .bodyteemh h1{

            font-size: 1.1rem;
           
        }


        .bodyteem .bodyteemh p{

            font-size: 0.8rem;
            
        }
          


        .bodyteemhimg{


                display: flex;
        /*      background: red;*/
                flex-direction: column;
                margin: auto;
                padding: auto;
                gap: 20px;
            }


        .bodyteemhimg .imgo{

        /*    background: green;*/
            justify-content: center;
            justify-items: center;
            margin: auto;
            width: 100%;
            margin-top: 10px;
            padding: 20px;
            transform: scale(0.1); 
            transition: opacity 1s ease, transform 1s ease; 
            transform-origin: bottom;
        }


        .bodyteemhimg .imgo.animate {
            opacity: 1;
            transform: scale(1); 
        }


        .bodyteemhimg .imgo .imghh{

        /*background: blue;*/

           width: 65%;
           height: 14rem;

        }

        .bodyteemhimg .imgo .imghh img{

           width: fit-content;
           height: auto;
           text-align: center;
           transition: transform 0.4s};

        





        .bodyteemhimg .imgo h3{

            font-size: 0.9rem;

        }

        .bodyteemhimg .imgo p{

            font-size: 0.7rem;

        }

        .bodyteemhimg .imgo .possiton {

            font-size: 0.8;
        }


}





