
.body_contain {

    display: flex;
    justify-content: space-between;

}


.body_contain .contain_left{


    /*border: 1px solid black;*/
    width: 45%;
   
    margin: 100px;
    margin-top: 5;
}


.body_contain .contain_left h3{

    font-size: 1.5rem;
    font-family: Segoe UI Emoji;
    color: white;
 
}

.body_contain .contain_left h1{

    font-size: 2.8rem;
    font-family:  Segoe UI;
    font-weight: 650;
    color: white; 
}

.body_contain .contain_left p{

    font-size: 0.9rem;
    font-family: Segoe UI Emoji;
   /* border: 1px solid black;*/
    width: 75%;
    font-weight:650;
    color: white;
 
}


.body_contain .contain_right{


    /* border: 1px solid black;*/
     padding: 10px;
}

.body_contain .contain_right img{


    animation: scaleRotate 1s forwards;
    transform-origin: center;
    width: 95%;
}

@keyframes scaleRotate {
     from{

        opacity: 0;
        scale: 0;

    }

    to{

        opacity: 1;
        scale: 1;

    }
}



.body_contain .contain_left .c_btn{

    background: red;
    color: white;
    width: 160px;
    height: 60px;
    border-radius: 5px;
    border: none;
    margin-top: 30px;
    font-weight: 700;
    font-size:1rem;
}

.body_contain .contain_left .c_bttn{

    background: red;
    color: white;
    width: 60px;
    height: 60px;
    border-radius: 5px;
    border: none;
    margin-top: 30px;
    font-weight: 700;
    font-size:1rem;
}


@media (max-width: 412px){



/*image animation*/

.body_contain .contain_right img{


    animation: scaleRotate 1s forwards;
    transform-origin: bottom;
    width: 95%;
}

@keyframes scaleRotate {
     from{

        opacity: 0;
        scale: 0;

    }

    to{

        opacity: 1;
        scale: 1;

    }
}





.body_contain{


    flex-direction: column;
}

.body_contain .contain_left{


/*    border: 1px solid black;*/
    width: fit-content;
    text-align: center;
    justify-items: center;
    justify-content: center;
    margin: 0px;
    padding: 10px;
    margin-top:50px;


}



.body_contain .contain_left h3{


     font-size: 0.8rem;
     padding: 1px;


}

.body_contain .contain_left h1{


    font-size: 1.4rem;
    padding: 20px;

}

.body_contain .contain_left p{

    font-size: 0.8rem;
    font-weight: 300;

  margin: auto;


    

}

.body_contain .contain_left .c_btn{

    

    width: 140px;
    height: 40px;
    border-radius: 5px;
    border: none;
    margin-top: 30px;
    font-weight: 600;
    font-size:0.8rem;
}

.body_contain .contain_left .c_bttn{

    background: red;
    color: white;
    width: 50px;
    height: 40px;
    border-radius: 5px;
    border: none;
    margin-top: 30px;
    font-weight: 600;
    font-size:0.8rem;
}

.body_contain .contain_right{


    /* border: 1px solid black;*/
     padding: 50px;
     margin: 0;
}




}

/*iphone xr*/

@media (max-width: 415px){



/*image animation*/

.body_contain .contain_right img{


    animation: scaleRotate 1s forwards;
    transform-origin: bottom;
    width: 95%;
}

@keyframes scaleRotate {
     from{

        opacity: 0;
        scale: 0;

    }

    to{

        opacity: 1;
        scale: 1;

    }
}





.body_contain{


    flex-direction: column;
}

.body_contain .contain_left{


/*    border: 1px solid black;*/
    width: fit-content;
    text-align: center;
    justify-items: center;
    justify-content: center;
    margin: 0px;
    padding: 10px;
    margin-top:50px;


}



.body_contain .contain_left h3{


     font-size: 0.8rem;
     padding: 1px;


}

.body_contain .contain_left h1{


    font-size: 1.4rem;
    padding: 20px;

}

.body_contain .contain_left p{

    font-size: 0.8rem;
    font-weight: 300;

  margin: auto;


    

}

.body_contain .contain_left .c_btn{

    

    width: 140px;
    height: 40px;
    border-radius: 5px;
    border: none;
    margin-top: 30px;
    font-weight: 600;
    font-size:0.8rem;
}

.body_contain .contain_left .c_bttn{

    background: red;
    color: white;
    width: 50px;
    height: 40px;
    border-radius: 5px;
    border: none;
    margin-top: 30px;
    font-weight: 600;
    font-size:0.8rem;
}

.body_contain .contain_right{


    /* border: 1px solid black;*/
     padding: 50px;
     margin: 0;
}




}

/*iphone 14pro max*/

@media (max-width: 431px){



/*image animation*/

.body_contain .contain_right img{


    animation: scaleRotate 1s forwards;
    transform-origin: bottom;
    width: 95%;
}

@keyframes scaleRotate {
     from{

        opacity: 0;
        scale: 0;

    }

    to{

        opacity: 1;
        scale: 1;

    }
}





.body_contain{


    flex-direction: column;
}

.body_contain .contain_left{


/*    border: 1px solid black;*/
    width: fit-content;
    text-align: center;
    justify-items: center;
    justify-content: center;
    margin: 0px;
    padding: 10px;
    margin-top:50px;


}



.body_contain .contain_left h3{


     font-size: 0.8rem;
     padding: 1px;


}

.body_contain .contain_left h1{


    font-size: 1.4rem;
    padding: 20px;

}

.body_contain .contain_left p{

    font-size: 0.8rem;
    font-weight: 300;

  margin: auto;


    

}

.body_contain .contain_left .c_btn{

    

    width: 140px;
    height: 40px;
    border-radius: 5px;
    border: none;
    margin-top: 30px;
    font-weight: 600;
    font-size:0.8rem;
}

.body_contain .contain_left .c_bttn{

    background: red;
    color: white;
    width: 50px;
    height: 40px;
    border-radius: 5px;
    border: none;
    margin-top: 30px;
    font-weight: 600;
    font-size:0.8rem;
}

.body_contain .contain_right{


    /* border: 1px solid black;*/
     padding: 50px;
     margin: 0;
}




}