.body_t .body_do{

    align-items: center;
    text-align: center;
    margin-top:60px;
}

.body_t .body_do h1{

    font-size: 2.2rem;
    font-family: sans-serif;
    font-weight: 600;
    color: white; 
    margin-bottom: 20px;
}

.body_t .body_do p{

    font-size: 0.9rem;
    font-family: monospace;
   /* border: 1px solid black;*/
    font-weight:400;
    color: white;
    text-align: center;
    justify-content: center;
    display: flex;
    justify-items: center;
}




/*animation*/

.body_doo .oo_d {
    border: 1px solid black;
    width: 30%;
    padding: 50px;
    border-radius: 8px;
    background: rgb(18, 17, 17);
    opacity: 0; 
    transform: scale(0.2); 
    transition: opacity 1s ease, transform 1s ease; 
    transform-origin: bottom;
}


.body_doo .oo_d.animate {
    opacity: 1;

    transform: scale(1); 
}

/*end*/





.body_doo .oo_d img{
    border: 1px solid black;
    padding: 17px;
    border-radius: 5px;
    background:rgb(31, 31, 31);
    
}

.body_doo .oo_d h1{
    color: white;
    font-size: 1.6rem;
    font-family: sans-serif;
    margin-bottom: 10px;
    margin-top: 10px;
}

.body_doo .oo_d p{
    color: white;
    font-size: 0.9rem;
    font-family: sans-serif;
    margin-bottom: 30px;
}

.body_doo .oo_d a{
    color: white;
    font-size: 0.9rem;
    font-family: sans-serif;
   text-decoration: none;
}

.body_doo{


    display: flex;
    padding: 50px;
    column-gap: 4rem;
    cursor: pointer;
}


.body_t{

/*    background:rgb(31, 31, 31);*/
}

/*hover part*/


.body_doo .oo_d:hover{
    background: linear-gradient(-160deg,  #c12e2f  , rgb(17, 17, 17), rgb(17, 17, 17), rgb(17, 17, 17), rgb(17, 17, 17) ,#c12e2f);

                backdrop-filter: blur(100px); 
}

.body_doo .oo_d:hover p {
    color: #c12e2f; 
}


.body_doo .oo_d:hover img {
    background: #c12e2f;
}

.oo_d p {
    transition: color 0.6s; 
}


.oo_d img {
    transition: opacity 1px; 
}











/*navigation with seconpart responcivenas*/

@media (max-width: 412px){

    .body_do{

/*        background: green;*/

        padding: 30px;
    }

    .body_t .body_do h1{

    font-size: 1rem;
   
      }

     .body_t .body_do p{

        font-size: 0.8rem;



     }


    .body_doo{

        flex-direction: column;
/*        background: red;*/
        margin: 0px;
        gap: 40px;
        padding: ;
    }


    .body_doo .oo_d{


        width: 95%;
        height: fit-content;
/*      background: blue;*/
        text-align: center;
        padding: 0px;
        padding: 20px;
    }



.body_doo .oo_d h1{
    color: white;
    font-size: 1rem;
    font-family: sans-serif;
   
   
}

.body_doo .oo_d p{
    color: white;
    font-size: 0.8rem;
    font-family: sans-serif;
    margin: 10px;
   
}

.body_doo .oo_d a{
    color: white;
    font-size: 0.8rem;
    font-family: sans-serif;
   text-decoration: none;
}


.body_doo .oo_d img{

    width: 4rem;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    background:rgb(31, 31, 31);
    
}

/*end*/}


/*i phone xr*/

@media (max-width: 415px){

    .body_do{

/*        background: green;*/

        padding: 30px;
    }

    .body_t .body_do h1{

    font-size: 1rem;
   
      }

     .body_t .body_do p{

        font-size: 0.8rem;



     }


    .body_doo{

        flex-direction: column;
/*        background: red;*/
        margin: 0px;
        gap: 40px;
        padding: ;
    }


    .body_doo .oo_d{


        width: 95%;
        height: fit-content;
/*      background: blue;*/
        text-align: center;
        padding: 0px;
        padding: 20px;
    }



.body_doo .oo_d h1{
    color: white;
    font-size: 1rem;
    font-family: sans-serif;
   
   
}

.body_doo .oo_d p{
    color: white;
    font-size: 0.8rem;
    font-family: sans-serif;
    margin: 10px;
   
}

.body_doo .oo_d a{
    color: white;
    font-size: 0.8rem;
    font-family: sans-serif;
   text-decoration: none;
}


.body_doo .oo_d img{

    width: 4rem;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    background:rgb(31, 31, 31);
    
}


}

/*end*/




/*iphone 14 pro max*/

@media (max-width: 431px){

    .body_do{

/*        background: green;*/

        padding: 30px;
    }

    .body_t .body_do h1{

    font-size: 1rem;
   
      }

     .body_t .body_do p{

        font-size: 0.8rem;



     }


    .body_doo{

        flex-direction: column;
/*        background: red;*/
        margin: 0px;
        gap: 40px;
        padding: ;
    }


    .body_doo .oo_d{


        width: 95%;
        height: fit-content;
/*      background: blue;*/
        text-align: center;
        padding: 0px;
        padding: 20px;
    }



.body_doo .oo_d h1{
    color: white;
    font-size: 1rem;
    font-family: sans-serif;
   
   
}

.body_doo .oo_d p{
    color: white;
    font-size: 0.8rem;
    font-family: sans-serif;
    margin: 10px;
   
}

.body_doo .oo_d a{
    color: white;
    font-size: 0.8rem;
    font-family: sans-serif;
   text-decoration: none;
}


.body_doo .oo_d img{

    width: 4rem;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    background:rgb(31, 31, 31);
    
}

/*end*/}



/*errr*/