footer{


    margin-top: 50px;
    padding: 10px;
    display: flex; 
    margin: 20px;
    font-family:  Segoe UI;
    color: white;
    font-size: 1.1rem;
    column-gap: 20px;
    cursor: pointer;
/*    background: red;*/
    transform: scale(0.1); 
    transition: opacity 1s ease, transform 1s ease; 
    transform-origin: bottom;

}


 


.footer.animate {
    opacity: 1;
    transform: scale(1); 
}






footer h3{

    margin-top: 20px;
    margin-bottom: 20px;
}

footer img{

    margin-top: 20px;
    margin-bottom: 20px;
}

footer p{

    margin-bottom: 15px;
   

}

footer .fa-caret-right{

    color: darkred;
    cursor: pointer;
}

.f_o img{

    width: 20%;

}


.f_o{
   
     width: 40%;
     margin: 10px;

}

.f_o .ee:hover{
    color: white;


}


.f_o .logoo i{

    margin: 10px;
    padding: 10px;
    background: black;
    border-radius: 25px;

}

.f_o .logoo i:hover{

    background: red;
}


.f_o .logoo{

    margin-top: 20px;
    display: flex;

}

.f_oo{

     
     width:17% ;
}

.f_ooo{

     
     width: 17%;
}

.f_oooo{

     
     width: 25%;
}

.f_oooo span{

    color: red;
    font-weight: bolder;
}

.footer{

    margin-top: 7rem;
}


footer p:hover{

    color: red;
    cursor: pointer;
}


/*footerdone*/

.footer_last hr{

    margin-bottom: 20px;
}
.footer_last{

    text-align: center;
    margin: 30px;
    font-family:  Segoe UI;
    color: white;


}


@media (max-width: 412px){


    .footer{


/*      background: green;*/
        display: flex;
        justify-items: center;
        justify-content: center;
        margin: 0px;
    }



    .footer .f_oo{

        display: none;
    }

    .footer .f_ooo{


        display: none;
    }


    .footer .f_oooo{


        display: none;
    }


.footer .f_o{

/*    background: red;*/
    width: 100%;
   
  


}


.footer .f_o img{

/*    border: 2px solid black;*/
    padding: 0px;
    width: 30%;
    height: auto;
  


}

.footer .f_o p{

/*    border: 2px solid black;*/
    font-size: 0.7rem;
    text-align: center;
  


}



.footer .f_o .fo_imgg{

    width: 100%;
/*    background: blue;*/
    display: flex;
    justify-content: center;
    padding: 0px;
    margin: 1px;
}




.footer .f_o .logoo{

/*     border: 2px solid black;*/
     display: flex;
     justify-items: center;
     justify-content: center;

  
}






.f_o .logoo i{
      
    background: red;
    margin: 10px;
    padding:0 px;
    background: black;
    border-radius: 50px;

}




    .footer_last{


        font-size: 0.7rem;
    }







}


/*iphone xr*/
@media (max-width: 415px){


    .footer{


/*      background: green;*/
        display: flex;
        justify-items: center;
        justify-content: center;
        margin: 0px;
    }



    .footer .f_oo{

        display: none;
    }

    .footer .f_ooo{


        display: none;
    }


    .footer .f_oooo{


        display: none;
    }


.footer .f_o{

/*    background: red;*/
    width: 100%;
   
  


}


.footer .f_o img{

/*    border: 2px solid black;*/
    padding: 0px;
    width: 30%;
    height: auto;
  


}

.footer .f_o p{

/*    border: 2px solid black;*/
    font-size: 0.7rem;
    text-align: center;
  


}



.footer .f_o .fo_imgg{

    width: 100%;
/*    background: blue;*/
    display: flex;
    justify-content: center;
    padding: 0px;
    margin: 1px;
}




.footer .f_o .logoo{

/*     border: 2px solid black;*/
     display: flex;
     justify-items: center;
     justify-content: center;

  
}






.f_o .logoo i{
      
    background: red;
    margin: 10px;
    padding:0 px;
    background: black;
    border-radius: 50px;

}




    .footer_last{


        font-size: 0.7rem;
    }







}

/*iphone 12 pro max*/

@media (max-width: 431px){


    .footer{


/*      background: green;*/
        display: flex;
        justify-items: center;
        justify-content: center;
        margin: 0px;
    }



    .footer .f_oo{

        display: none;
    }

    .footer .f_ooo{


        display: none;
    }


    .footer .f_oooo{


        display: none;
    }


.footer .f_o{

/*    background: red;*/
    width: 100%;
   
  


}


.footer .f_o img{

/*    border: 2px solid black;*/
    padding: 0px;
    width: 30%;
    height: auto;
  


}

.footer .f_o p{

/*    border: 2px solid black;*/
    font-size: 0.7rem;
    text-align: center;
  


}



.footer .f_o .fo_imgg{

    width: 100%;
/*    background: blue;*/
    display: flex;
    justify-content: center;
    padding: 0px;
    margin: 1px;
}




.footer .f_o .logoo{

/*     border: 2px solid black;*/
     display: flex;
     justify-items: center;
     justify-content: center;

  
}






.f_o .logoo i{
      
    background: red;
    margin: 10px;
    padding:0 px;
    background: black;
    border-radius: 50px;

}




    .footer_last{


        font-size: 0.7rem;
    }







}