.attact .attc{

    text-align: center;
    margin-top: 50px;
}

.attact .attc h1{

    font-size: 2.5rem;
    font-family:  Segoe UI;
    font-weight: 650;
    color: white;
    margin-bottom: 30px;
   
}


.attact .attc p{

    font-size: 1.1rem;
    font-family:  Segoe UI;
    margin-top: 7px;
    color: white;    
}




.attact .atc {


    display: flex;
    justify-content: center;
    justify-content: center;
    text-align: center;
    /*border: 1px solid green;*/
    gap: 5rem;
    margin-top:40px;
/*    background: red;*/
}


.attact .atc .atcimgo{

    /*border: 1px solid blue;*/
    background: rgb(17, 17, 17);
    border-radius: 9px;
    padding: 20px;

/*    background: blue;*/
    width:25%;
    justify-content: center;
    justify-items: center;
    
    transform: scale(0.1); 
    transition: opacity 1s ease, transform 1s ease; 
    transform-origin: bottom;


}
.attact .atc .atcimgoi{

    /*border: 1px solid blue;*/
    background: rgb(17, 17, 17);
    border-radius: 9px;
    padding: 20px;

/*    background: blue;*/
    width:25%;
    justify-content: center;
    justify-items: center;
    
    transform: scale(0.1); 
    transition: opacity 1s ease, transform 1s ease; 
    transform-origin: right;


}

.attact .atc .atcimgoii{

    /*border: 1px solid blue;*/
    background: rgb(17, 17, 17);
    border-radius: 9px;
    padding: 20px;

/*    background: blue;*/
    width:25%;
    justify-content: center;
    justify-items: center;
    
    transform: scale(0.1); 
    transition: opacity 1s ease, transform 1s ease; 
    transform-origin: left;


}



.attact .atc .atcimgo.animate {
    opacity: 1;
    transform: scale(1); 
}

.attact .atc .atcimgoi.animate {
    opacity: 1;
    transform: scale(1); 
}

.attact .atc .atcimgoii.animate {
    opacity: 1;
    transform: scale(1); 
}





.attact .atc .atcimgo .atcimghh{

   display: flex;
   width: 90%;
   height: 45%;
   margin-top: 15px;
   justify-content: center;
   border-radius:8px;
   overflow: hidden;
   background: transparent;
}

.attact .atc .atcimgoi .atcimghh{

   display: flex;
   width: 90%;
   height: 45%;
   margin-top: 15px;
   justify-content: center;
   border-radius:8px;
   overflow: hidden;
   background: transparent;
}

.attact .atc .atcimgoii .atcimghh{

   display: flex;
   width: 90%;
   height: 45%;
   margin-top: 15px;
   justify-content: center;
   border-radius:8px;
   overflow: hidden;
   background: transparent;
}



.attact .atc .atcimgo .atcimghh img {
   
   width: fit-content;
   height: fit-content;
   border-radius: 11px;
   text-align: center;
   margin-top: 0;
   transition: transform 0.4s;
   
   
}

.attact .atc .atcimgoi .atcimghh img {
   
   width: fit-content;
   height: fit-content;
   border-radius: 11px;
   text-align: center;
   margin-top: 0;
   transition: transform 0.4s;
   
   
}
.attact .atc .atcimgoii .atcimghh img {
   
   width: fit-content;
   height: fit-content;
   border-radius: 11px;
   text-align: center;
   margin-top: 0;
   transition: transform 0.4s;
   
   
}


.attact .atc .atcimgo .atcimghh img:hover {

    transform: scale(1.1);

}

.attact .atc .atcimgoi .atcimghh img:hover {

    transform: scale(1.1);

}

.attact .atc .atcimgoii .atcimghh img:hover {

    transform: scale(1.1);

}







.atc h3{


     font-family:  Segoe UI;
     color: white;


}


.atc .atcpossiton{

    margin-top:20px;
}

.atc p{


     font-family:  Segoe UI;
     color: white;
     padding: 6px;

}


@media (max-width: 412px){


.attact .attc h1{

    font-size: 1rem;
    
   
   

   
}


.attact .attc p{ 

    font-size: 0.7rem;
 }


.attact .atc{


        flex-direction: column;
/*        background: red;*/
        padding: 40px;

    }


.attact .atc .atcimgo{

       width: 100%;
/*      background: blue;*/
      padding: 10px;
   }

.attact .atc .atcimgoi{

       width: 100%;
/*      background: blue;*/
      padding: 10px;
   }

.attact .atc .atcimgoii{

       width: 100%;
/*      background: blue;*/
      padding: 10px;
   }


.attact .atc .atcimgo .atcimghh{

      width: 14rem;
      height: 10rem;
/*      background: green;*/
   }

.attact .atc .atcimgoi .atcimghh{

      width: 14rem;
      height: 10rem;
/*      background: green;*/

   }

 .attact .atc .atcimgoii .atcimghh{

      width: 14rem;
      height: 10rem;
/*      background: green;*/

   }  


.attact .atc .atcimgo .atcimghh img{

    width: fit-content;
    height: auto;
}

.attact .atc .atcimgoi .atcimghh img{

    width: fit-content;
    height: auto;
}

.attact .atc .atcimgoii .atcimghh img{

    width: fit-content;
    height: auto;
}





.atc h3{


    font-size: 0.9rem;
    
    padding: 0px;
    margin: 0px;


}


.atc .all_con p{

    font-size: 0.7rem;
    margin: 1px;
    padding: 0px;


}

.atc .all_con{

    padding: 10px;
}






















}


/*iphone xr*/

@media (max-width: 415px){


.attact .attc h1{

    font-size: 1rem;
    
   
   

   
}


.attact .attc p{ 

    font-size: 0.7rem;
 }


.attact .atc{


        flex-direction: column;
/*        background: red;*/
        padding: 40px;

    }


.attact .atc .atcimgo{

       width: 100%;
/*      background: blue;*/
      padding: 10px;
   }

.attact .atc .atcimgoi{

       width: 100%;
/*      background: blue;*/
      padding: 10px;
   }

.attact .atc .atcimgoii{

       width: 100%;
/*      background: blue;*/
      padding: 10px;
   }


.attact .atc .atcimgo .atcimghh{

      width: 14rem;
      height: 10rem;
/*      background: green;*/
   }

.attact .atc .atcimgoi .atcimghh{

      width: 14rem;
      height: 10rem;
/*      background: green;*/

   }

 .attact .atc .atcimgoii .atcimghh{

      width: 14rem;
      height: 10rem;
/*      background: green;*/

   }  


.attact .atc .atcimgo .atcimghh img{

    width: fit-content;
    height: auto;
}

.attact .atc .atcimgoi .atcimghh img{

    width: fit-content;
    height: auto;
}

.attact .atc .atcimgoii .atcimghh img{

    width: fit-content;
    height: auto;
}





.atc h3{


    font-size: 0.9rem;
    
    padding: 0px;
    margin: 0px;


}


.atc .all_con p{

    font-size: 0.7rem;
    margin: 1px;
    padding: 0px;


}

.atc .all_con{

    padding: 10px;
}





}


/*iphone 12 pro max*/

@media (max-width: 431px){


.attact .attc h1{

    font-size: 1rem;
    
   
   

   
}


.attact .attc p{ 

    font-size: 0.7rem;
 }


.attact .atc{


        flex-direction: column;
/*        background: red;*/
        padding: 40px;

    }


.attact .atc .atcimgo{

       width: 100%;
/*      background: blue;*/
      padding: 10px;
   }

.attact .atc .atcimgoi{

       width: 100%;
/*      background: blue;*/
      padding: 10px;
   }

.attact .atc .atcimgoii{

       width: 100%;
/*      background: blue;*/
      padding: 10px;
   }


.attact .atc .atcimgo .atcimghh{

      width: 14rem;
      height: 10rem;
/*      background: green;*/
   }

.attact .atc .atcimgoi .atcimghh{

      width: 14rem;
      height: 10rem;
/*      background: green;*/

   }

 .attact .atc .atcimgoii .atcimghh{

      width: 14rem;
      height: 10rem;
/*      background: green;*/

   }  


.attact .atc .atcimgo .atcimghh img{

    width: fit-content;
    height: auto;
}

.attact .atc .atcimgoi .atcimghh img{

    width: fit-content;
    height: auto;
}

.attact .atc .atcimgoii .atcimghh img{

    width: fit-content;
    height: auto;
}





.atc h3{


    font-size: 0.9rem;
    
    padding: 0px;
    margin: 0px;


}


.atc .all_con p{

    font-size: 0.7rem;
    margin: 1px;
    padding: 0px;


}

.atc .all_con{

    padding: 10px;
}






















}